h1
{
    color: #010079;
    text-shadow: 0 0 5px white;
    padding: 0.3em 0.5em;
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
.passage
{
    /* color:blue;
    font-style: italic; */
    font-size: large;
    position: relative;
    left: 30px;
}
.c-img
{
    margin: 0 auto;
    padding: 15px 15px;
    border: 5px dotted khaki;
    border-radius: 15px;
    outline: 10px solid yellow;
    /* position: relative;
    left: 50px; */
    display: block;
    width: 200px;
}
.y-img
{
    margin: 0 auto;
    padding: 15px 15px;
    border: 5px dotted blue;
    border-radius: 15px;
    outline: 10px solid skyblue;
    /* position: relative;
    left: 50px; */
    display: block;
}
.profile-wrap
{
    display: flex;
    justify-content: center;
}
.profile
{
    margin: 70px;
    padding: 15px 15px;
    border: 2.5px solid gray;
    border-radius: 10px;
}
p.name
{
    font-size: 24px;
}
